In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

df=pd.read_csv('train_update.csv')
df

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,Unnamed: 8,Unnamed: 9,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1.0,60.0,RL,65.0,8450.0,Pave,NaN,Reg,NaN,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2.0,20.0,RL,NaN,9600.0,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3.0,60.0,RL,68.0,NaN,Pave,NaN,IR1,NaN,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4.0,70.0,RL,60.0,NaN,Pave,NaN,NaN,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5.0,60.0,RL,84.0,14260.0,NaN,NaN,NaN,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456.0,60.0,RL,62.0,7917.0,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457.0,20.0,RL,85.0,13175.0,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458.0,70.0,RL,66.0,9042.0,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459.0,20.0,RL,68.0,9717.0,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460.0,20.0,RL,75.0,9937.0,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [3]:
df=pd.read_csv('train_update.csv')
df.head()

from sklearn.preprocessing import MinMaxScaler
mm=MinMaxScaler()
mm.fit(df[['SalePrice']])
df['SalePrice_new']=pd.DataFrame(mm.transform(df[['SalePrice']]))
df.head()

# sns.distplot(df['SalePrice_new'])
# plt.show()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,Unnamed: 8,Unnamed: 9,...,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice,SalePrice_new
0,1.0,60.0,RL,65.0,8450.0,Pave,NaN,Reg,NaN,AllPub,...,NaN,NaN,NaN,0,2,2008,WD,Normal,208500,0.241078
1,2.0,20.0,RL,NaN,9600.0,Pave,NaN,Reg,Lvl,AllPub,...,NaN,NaN,NaN,0,5,2007,WD,Normal,181500,0.203583
2,3.0,60.0,RL,68.0,NaN,Pave,NaN,IR1,NaN,AllPub,...,NaN,NaN,NaN,0,9,2008,WD,Normal,223500,0.261908
3,4.0,70.0,RL,60.0,NaN,Pave,NaN,NaN,Lvl,AllPub,...,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000,0.145952
4,5.0,60.0,RL,84.0,14260.0,NaN,NaN,NaN,Lvl,AllPub,...,NaN,NaN,NaN,0,12,2008,WD,Normal,250000,0.298709

In [5]:
df.describe()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice,SalePrice_new
count,1454.000000,1455.000000,1196.000000,1451.000000,1458.000000,1460.000000,1460.000000,1460.000000,1452.000000,1460.000000,...,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,733.455983,56.986254,70.014214,10517.076499,6.098765,5.575342,1971.267808,1984.865753,103.685262,443.639726,...,46.660274,21.954110,3.409589,15.060959,2.758904,43.489041,6.321918,2007.815753,180921.195890,0.202779
std,419.953952,42.338452,24.263559,10009.968582,1.382749,1.112799,30.202904,20.645407,181.066207,456.098091,...,66.256028,61.119149,29.317331,55.757415,40.177307,496.123024,2.703626,1.328095,79442.502883,0.110321
min,1.000000,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,34900.000000,0.000000
25%,370.250000,20.000000,59.000000,7537.500000,5.000000,5.000000,1954.000000,1967.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,2007.000000,129975.000000,0.132030
50%,733.500000,50.000000,69.000000,9453.000000,6.000000,5.000000,1973.000000,1994.000000,0.000000,383.500000,...,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,163000.000000,0.177892
75%,1096.750000,70.000000,80.000000,11603.000000,7.000000,6.000000,2000.000000,2004.000000,166.000000,712.250000,...,68.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,214000.000000,0.248715
max,1460.000000,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,...,547.000000,552.000000,508.000000,480.000000,738.000000,15500.000000,12.000000,2010.000000,755000.000000,1.000000