1.ReadDataset

In [8]:
import pandas as pd
df=pd.read_csv('train_update.csv')
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,Unnamed: 8,Unnamed: 9,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1.0,60.0,RL,65.0,8450.0,Pave,NaN,Reg,NaN,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2.0,20.0,RL,NaN,9600.0,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3.0,60.0,RL,68.0,NaN,Pave,NaN,IR1,NaN,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4.0,70.0,RL,60.0,NaN,Pave,NaN,NaN,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5.0,60.0,RL,84.0,14260.0,NaN,NaN,NaN,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

2.Find Null Values

In [9]:
df.isnull()
df.isnull().sum()
df.isnull().sum().sum()

np.int64(7938)

3.Rows and columns Find

In [10]:
df.shape

(1460, 81)

4.Drop Command

In [21]:
# df.isnull().sum()
# df.drop(columns=['LotFrontage'],inplace=True)

# df.dropna(inplace=True)
# df.head()
# df.isnull().sum()
# df.shape

(0, 80)

5.Fill Missing values Handle

In [22]:
df=pd.read_csv('train_update.csv')
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,Unnamed: 8,Unnamed: 9,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1.0,60.0,RL,65.0,8450.0,Pave,NaN,Reg,NaN,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2.0,20.0,RL,NaN,9600.0,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3.0,60.0,RL,68.0,NaN,Pave,NaN,IR1,NaN,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4.0,70.0,RL,60.0,NaN,Pave,NaN,NaN,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5.0,60.0,RL,84.0,14260.0,NaN,NaN,NaN,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [23]:
# df.fillna(10)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,Unnamed: 8,Unnamed: 9,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1.0,60.0,RL,65.0,8450.0,Pave,10,Reg,10,AllPub,...,0,10,10,10,0,2,2008,WD,Normal,208500
1,2.0,20.0,RL,10.0,9600.0,Pave,10,Reg,Lvl,AllPub,...,0,10,10,10,0,5,2007,WD,Normal,181500
2,3.0,60.0,RL,68.0,10.0,Pave,10,IR1,10,AllPub,...,0,10,10,10,0,9,2008,WD,Normal,223500
3,4.0,70.0,RL,60.0,10.0,Pave,10,10,Lvl,AllPub,...,0,10,10,10,0,2,2006,WD,Abnorml,140000
4,5.0,60.0,RL,84.0,14260.0,10,10,10,Lvl,AllPub,...,0,10,10,10,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456.0,60.0,RL,62.0,7917.0,Pave,10,Reg,Lvl,AllPub,...,0,10,10,10,0,8,2007,WD,Normal,175000
1456,1457.0,20.0,RL,85.0,13175.0,Pave,10,Reg,Lvl,AllPub,...,0,10,MnPrv,10,0,2,2010,WD,Normal,210000
1457,1458.0,70.0,RL,66.0,9042.0,Pave,10,Reg,Lvl,AllPub,...,0,10,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459.0,20.0,RL,68.0,9717.0,Pave,10,Reg,Lvl,AllPub,...,0,10,10,10,0,4,2010,WD,Normal,142125
1459,1460.0,20.0,RL,75.0,9937.0,Pave,10,Reg,Lvl,AllPub,...,0,10,10,10,0,6,2008,WD,Normal,147500

                Froward Fillling

In [24]:
df.fillna(method='ffill')

C:\Users\DEll\AppData\Local\Temp\ipykernel_692\1193302488.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='ffill')

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,Unnamed: 8,Unnamed: 9,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1.0,60.0,RL,65.0,8450.0,Pave,NaN,Reg,NaN,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2.0,20.0,RL,65.0,9600.0,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3.0,60.0,RL,68.0,9600.0,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4.0,70.0,RL,60.0,9600.0,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5.0,60.0,RL,84.0,14260.0,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456.0,60.0,RL,62.0,7917.0,Pave,Pave,Reg,Lvl,AllPub,...,0,Gd,GdWo,TenC,0,8,2007,WD,Normal,175000
1456,1457.0,20.0,RL,85.0,13175.0,Pave,Pave,Reg,Lvl,AllPub,...,0,Gd,MnPrv,TenC,0,2,2010,WD,Normal,210000
1457,1458.0,70.0,RL,66.0,9042.0,Pave,Pave,Reg,Lvl,AllPub,...,0,Gd,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459.0,20.0,RL,68.0,9717.0,Pave,Pave,Reg,Lvl,AllPub,...,0,Gd,GdPrv,Shed,0,4,2010,WD,Normal,142125
1459,1460.0,20.0,RL,75.0,9937.0,Pave,Pave,Reg,Lvl,AllPub,...,0,Gd,GdPrv,Shed,0,6,2008,WD,Normal,147500

             BackwordFIlling

In [25]:
df.fillna(method='bfill')

C:\Users\DEll\AppData\Local\Temp\ipykernel_692\2831856154.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='bfill')

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,Unnamed: 8,Unnamed: 9,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1.0,60.0,RL,65.0,8450.0,Pave,Grvl,Reg,Lvl,AllPub,...,0,Ex,MnPrv,Shed,0,2,2008,WD,Normal,208500
1,2.0,20.0,RL,68.0,9600.0,Pave,Grvl,Reg,Lvl,AllPub,...,0,Ex,MnPrv,Shed,0,5,2007,WD,Normal,181500
2,3.0,60.0,RL,68.0,14260.0,Pave,Grvl,IR1,Lvl,AllPub,...,0,Ex,MnPrv,Shed,0,9,2008,WD,Normal,223500
3,4.0,70.0,RL,60.0,14260.0,Pave,Grvl,IR1,Lvl,AllPub,...,0,Ex,MnPrv,Shed,0,2,2006,WD,Abnorml,140000
4,5.0,60.0,RL,84.0,14260.0,Pave,Grvl,IR1,Lvl,AllPub,...,0,Ex,MnPrv,Shed,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456.0,60.0,RL,62.0,7917.0,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,Shed,0,8,2007,WD,Normal,175000
1456,1457.0,20.0,RL,85.0,13175.0,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,Shed,0,2,2010,WD,Normal,210000
1457,1458.0,70.0,RL,66.0,9042.0,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459.0,20.0,RL,68.0,9717.0,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460.0,20.0,RL,75.0,9937.0,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

           Mode Filling on categorical Data

In [43]:
# df.info()
df=pd.read_csv('train_update.csv')
# for i in df.select_dtypes(include='object'):
#     print(df[i].fillna(df[i].mode()[0]))

0       Pave
1       Pave
2       Pave
3       Pave
4       Pave
        ...
1455    Pave
1456    Pave
1457    Pave
1458    Pave
1459    Pave
Name: Street, Length: 1460, dtype: object

          Mean Filling on Numerical Data

In [41]:
df=pd.read_csv('train_update.csv')
for i in df.select_dtypes(include='float64'):
    print(df[i].fillna(df[i].mean()))

0          1.0
1          2.0
2          3.0
3          4.0
4          5.0
         ...
1455    1456.0
1456    1457.0
1457    1458.0
1458    1459.0
1459    1460.0
Name: Id, Length: 1460, dtype: float64
0       60.0
1       20.0
2       60.0
3       70.0
4       60.0
        ...
1455    60.0
1456    20.0
1457    70.0
1458    20.0
1459    20.0
Name: MSSubClass, Length: 1460, dtype: float64
0       65.000000
1       70.014214
2       68.000000
3       60.000000
4       84.000000
          ...
1455    62.000000
1456    85.000000
1457    66.000000
1458    68.000000
1459    75.000000
Name: LotFrontage, Length: 1460, dtype: float64
0        8450.000000
1        9600.000000
2       10517.076499
3       10517.076499
4       14260.000000
            ...
1455     7917.000000
1456    13175.000000
1457     9042.000000
1458     9717.000000
1459     9937.000000
Name: LotArea, Length: 1460, dtype: float64
0       7.0
1       6.0
2       7.0
3       7.0
4       8.0
       ...
1455    6.0
1456    6.0
1457    7.0
1458    5.0
1459    5.0
Name: OverallQual, Length: 1460, dtype: float64
0       196.0
1         0.0
2       162.0
3         0.0
4       350.0
        ...
1455      0.0
1456    119.0
1457      0.0
1458      0.0
1459      0.0
Name: MasVnrArea, Length: 1460, dtype: float64
0       2003.0
1       1976.0
2       2001.0
3       1998.0
4       2000.0
         ...
1455    1999.0
1456    1978.0
1457    1941.0
1458    1950.0
1459    1965.0
Name: GarageYrBlt, Length: 1460, dtype: float64

6.Scikitlearn->Missing values Handle Filling

In [8]:
import pandas as pd
df=pd.read_csv('train_update.csv')
from sklearn.impute import SimpleImputer
si=SimpleImputer(strategy='most_frequent')
df=pd.DataFrame(si.fit_transform(df.select_dtypes(include='object')))
df.head()
df.isnull().sum()

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    0
20    0
21    0
22    0
23    0
24    0
25    0
26    0
27    0
28    0
29    0
30    0
31    0
32    0
33    0
34    0
35    0
36    0
37    0
38    0
39    0
40    0
41    0
42    0
dtype: int64

7.One Hot Encoding->Catogrical to Numerical

In [23]:
from sklearn.preprocessing import OneHotEncoder
OHT=OneHotEncoder(drop='first')
import pandas as pd
df=pd.read_csv('train_update.csv')
data=df['Street']
var=pd.get_dummies(data)
arr=OHT.fit_transform(var).toarray()
pd.DataFrame(arr)

        0    1
0     0.0  1.0
1     0.0  1.0
2     0.0  1.0
3     0.0  1.0
4     0.0  0.0
...   ...  ...
1455  0.0  1.0
1456  0.0  1.0
1457  0.0  1.0
1458  0.0  1.0
1459  0.0  1.0

[1460 rows x 2 columns]